<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunshine.qiaoke.mapper.BuyerMapper">

    <resultMap id="buyerTree" type="com.sunshine.qiaoke.Dao.Buyer">
        <id property="id" column="id"/>
        <association property="child" column="{id=id}" select="getChildren"/>
    </resultMap>

    <select id="listBuyer" resultType="com.sunshine.qiaoke.Dao.Buyer">
        select b.*, v.vip_level_desc, b2.name as introducerName from buyer b
        left join vip_level_dic v on b.vip_level = v.vip_level
        left join buyer b2 on b.introducer_id = b2.id
        where B.delete_flag = 0
        <if test="name != null and name != ''">
            and b.name like concat('%', #{name}, '%')
        </if>
    </select>

    <select id="getChildren" resultMap="buyerTree">
        select * from buyer
        where introducer_id = #{id} and delete_flag=0
    </select>

    <select id="getAllBuyer" resultType="com.sunshine.qiaoke.Dao.Buyer">
        select * from buyer
        where delete_flag=0
    </select>

    <update id="jiezhuan">
        update buyer set buy_count=temp_count, vip_level=temp_level where delete_flag = 0;
    </update>

</mapper>